@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (somethings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var something in somethings)
            {
                <tr>
                    <td>@something.Id</td>
                    <td>@something.FullName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Something3WithId[] somethings;

    protected override async Task OnInitializedAsync()
    {
        somethings = await Http.GetFromJsonAsync<Something3WithId[]>("https://localhost:44327/api/things");
    }


    public class Something3WithId
    {
        public int Id { get; set; }
        public string FullName { get; set; }
    }
}
